<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262575149280-k1dvndmopjla83qui0fqpqge9acv1jes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262575149280-k1dvndmopjla83qui0fqpqge9acv1jes</string>
	<key>API_KEY</key>
	<string>AIzaSyBDr1akYP5tqEE11RxCf3ctKQqWimr6ixo</string>
	<key>GCM_SENDER_ID</key>
	<string>262575149280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ilTrisManager</string>
	<key>PROJECT_ID</key>
	<string>iltrispizzeria</string>
	<key>STORAGE_BUCKET</key>
	<string>iltrispizzeria.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262575149280:ios:95a4a2310636e921c18085</string>
	<key>DATABASE_URL</key>
	<string>https://iltrispizzeria-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>